@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900');

h1 {

}

h2 {

}

h3 {
    font-size: 20px;
    margin: 0;
}
h4 {
    font-weight: 500;
    font-size: 15px;
    margin: 0;
}
h5 {
    font-weight: 500;
    font-size: 13px;
    color: $bg_color_dark;
    margin: 0;
    
}

p {
  margin-bottom: 10px;
}

