$primary_color: #16a4d7;
$primary_color_lighter: #8a8f9c;
$secondary_color: #e60058;

$approve_color: #23b701;
$decline_color: #dc0000;

$dark: #000;
$light: #fff;


$gray_color: #e8e8e8;
$gray_color2: #d5d5d5;
$gray_color3: #9c9c9c;



$text_color: #828282;
$text_color_lighter: #9e9f9f;
$title_color: #1c1c1c;

$bg_color: #fbfbfb;
$bg_color_dark: #2f333f;
$border_color: #e4e4e4;
$border_color_dark: #565a66;
$border_color_lighter: #e1e2e3;

$indent1: 30px;